@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Issue
@{
}
<h2>Create New Issue</h2>
<div>
    <form asp-action="Add" method="post">
        <div>
            <label asp-for="ticketName" class="form-label">Requester Name</label>
            <input asp-for="ticketName" class="form-control" />
            <span asp-validation-for="ticketName" class="col text-danger"></span>
        </div>

        <div>
            <label asp-for="ticketEmail" class="form-label">Requester Email</label>
            <input asp-for="ticketEmail" class="form-control" />
            <span asp-validation-for="ticketEmail" class="col text-danger"></span>
        </div>

        <div>
            <label asp-for="submitDate" class="form-label">Request Date</label>
            <input asp-for="submitDate" class="form-control" />
            <span asp-validation-for="submitDate" class="col text-danger"></span>
        </div>

        <div>
            <label asp-for="ticketTitle" class="form-label">Subject</label>
            <input asp-for="ticketTitle" class="form-control" />
            <span asp-validation-for="ticketTitle" class="col text-danger"></span>
        </div>

        <div>
            <label asp-for="ticketDescription" class="form-label">Details</label>
            <input asp-for="ticketDescription" class="form-control" />
            <span asp-validation-for="ticketDescription" class="col text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="StatusID" class="form-label">Status</label>
            <select asp-for="StatusID" class="form-select">
                <option value="">Select a status</option>
                @foreach (var status in ViewBag.Statuses)
                {
                    <option value="@status.StatusID">@status.StatusName</option>
                }
            </select>
            <span asp-validation-for="StatusID" class="col text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PriorityID" class="form-label">Priority</label>
            <select asp-for="PriorityID" class="form-select">
                <option value="">Select a priority</option>
                @foreach (var priority in ViewBag.Priorities)
                {
                    <option value="@priority.PriorityID">@priority.PriorityName</option>
                }
            </select>
            <span asp-validation-for="PriorityID" class="col text-danger"></span>
        </div>

        <input type="hidden" asp-for="issueID" />

        <button type="submit" class="btn btn-info">Save</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-dark">Cancel</a>

    </form>
</div>